.listing-items {
  flex-grow: 1;
}

/* Childs */

.listing-items .list-item {
  margin-right: 20px;
}

.listing-items .list-item:first-of-type {
  padding-top: 0;
}

.listing-items .list-item + .list-item {
  border-top: 1px solid $borders;
}

.listing-items .banner {
  clear: both;
  margin: 0 20px 0 0;
}

.listing-items .banner + .list-item {

}

.listing-items .banner_grid,
.listing-items .preview-item {
  clear: none;
  float: left;
  margin: 0 20px 20px 0;
}

.listing-items .preview-item + .banner {
  margin-bottom: 20px;
}

.listing-items_advanced > *:nth-of-type(12n+1),
.listing-items_advanced > *:nth-of-type(12n+6),
.listing-items_advanced > *:nth-of-type(12n+7),
.listing-items_advanced > *:nth-of-type(12n+12) {
  width: 550px;
  max-height: 726px;
  overflow: hidden;
}

.listing-items_advanced > *:nth-of-type(12n+1),
.listing-items_advanced > *:nth-of-type(12n+4),
.listing-items_advanced > *:nth-of-type(12n+7)
.listing-items_advanced > *:nth-of-type(12n+10) {
  clear: both
}

.listing-items_advanced > *:nth-of-type(12n+4),
.listing-items_advanced > *:nth-of-type(12n+10) {
  margin-bottom: 353px;
}

.listing-items_advanced > *:nth-of-type(12n+5),
.listing-items_advanced > *:nth-of-type(12n+11) {
  margin: 373px 0 0 -285px;
}

.listing-items_advanced > *:nth-child(12n+4):last-of-type,
.listing-items_advanced > *:nth-child(12n+10):last-of-type {
  margin-bottom: 20px;
}
