.listing {}

.listing__header {
  overflow: hidden;
  margin: 40px 0;
}

.listing__breadcrumbs {}

.listing__title {
  margin: 16px 0 31px;
  font-size: 36px;
  font-weight: normal;
}

.listing__sorting {
  float: left;
}

.listing__view-mode {
  float: right;
  padding-right: 285px;
}

.listing__content > inner-html {
  display: flex;
  align-items: flex-start;
  padding-bottom: 40px;
}

x-listing-items {
  flex-grow: 1;
}

x-listing-nav {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 265px;
}


/* Childs Nav */

.listing__nav x-categories + x-facets .facets {
  border-top: none;
}


/* Childs Items */

.listing__items .list-item {
  margin-right: 20px;
}

.listing__items x-list-item:first-of-type .list-item {
  padding-top: 0;
}

.listing__items x-list-item + x-list-item .list-item {
  border-top: 1px solid $borders;
}

.listing__items .banner {
  clear: both;
  margin: 0 20px 0 0;
}

.listing__items .banner_grid,
.listing__items .preview-item {
  clear: none;
  float: left;
  margin: 0 20px 20px 0;
}

.listing__items x-preview-item + x-banner .banner {
  margin-bottom: 20px;
}

.listing__items x-preview-item:nth-last-child(-n+3) .preview-item {
  margin-bottom: 0;
}

.listing__items_advanced > inner-html > *:nth-child(12n+1) > *,
.listing__items_advanced > inner-html > *:nth-child(12n+6) > *,
.listing__items_advanced > inner-html > *:nth-child(12n+7) > *,
.listing__items_advanced > inner-html > *:nth-child(12n+12) > * {
  width: 550px;
  max-height: 726px;
  overflow: hidden;
}

.listing__items_advanced > inner-html > *:nth-child(12n+1) > *,
.listing__items_advanced > inner-html > *:nth-child(12n+4) > *,
.listing__items_advanced > inner-html > *:nth-child(12n+7) > *
.listing__items_advanced > inner-html > *:nth-child(12n+10) > * {
  clear: both
}

.listing__items_advanced > inner-html > *:nth-child(12n+4) > *,
.listing__items_advanced > inner-html > *:nth-child(12n+10) > * {
  margin-bottom: 353px;
}

.listing__items_advanced > inner-html > *:nth-child(12n+5) > *,
.listing__items_advanced > inner-html > *:nth-child(12n+11) > * {
  margin: 373px 0 0 -285px;
}

.listing__items_advanced > inner-html > *:nth-child(12n+4):last-of-type > *,
.listing__items_advanced > inner-html > *:nth-child(12n+10):last-of-type > * {
  margin-bottom: 20px;
}
